deps_old
deps_old/
deps_old/include/
deps_old/include
deps_old/lib/
deps_old/lib
vendor/
vendor_saved/
vendor-saved/
vendor-**/

external_code/cloned_repos
external_code/**/log
externa_code/stage**/
externa_code/clone**/
external_code/

marvin/external_src/

tests/test_cert_store/test_store/

deps/include/
deps/include
deps/lib/
deps/lib
docs/html
docs/latex

packages/

.smpl_cache/
scripts/cloned_repos/
scripts/stage/
scripts/stage/*
scripts/cloned_repos/*.tar.gz
**/log

.DS_Store
.DS_Store?
.bundle
build/
build/Build
build/DerivedData
build/
cmake-debug-build/
cmake-build-debug/
xcode-build/
xcode-build
obj/
doc/
lib/
lib_b1.66/
DerivedData/
packages/
doc/html/