<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HTTPMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>cert_auth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>conf_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>hdoc-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>ini-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>marvin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>nullstream.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>openssl_10_6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>proxy-objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>proxy-pipe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>proxy_cocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>regexs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>req_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>server_alone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>server_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>sl_raw_client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>smart_ptr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>ssl-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>ssl-server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>ssl_client_test copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>ssl_client_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>ssl_server_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>streamtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>test_buffers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>test_client_request.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>test_connect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test_doctest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test_headers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test_json.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test_logger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test_marvin_errors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test_message.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>test_proxy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>test_query.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>test_reader copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>test_reader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>test_reader_mock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>test_server_client_body_buffering.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>test_server_client_body_format.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>test_signal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>test_strand.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test_tester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test_timeout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>testcase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>ui-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>unit-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D407D5111E103480003E5F8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D40B756B1E0AC60100431E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D40B75871E0AC62E00431E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D40F343D1FD0F5AD00EC653F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D421D0D91E01D18500831883</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42AC4F01FDF1775007CF7E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42DB9711E00DD3200B2AF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42DB9931E00DEA100B2AF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42DB9B41E00F93000B2AF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D43768011F983F1B003549AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D437680A1F984E39003549AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D445DB571E14B57400418D6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44A210E1FF6E73B003CF16C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44C3D221FF413640034DA00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44EFE651E15EE4800D27281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D458EA141DF62C7F00E820A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D458EA1C1DF62D8800E820A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D458EA2F1DF6413600E820A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D45F5A0F1E12E5CA0032F943</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D45F5A171E12E61A0032F943</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D466141C1DF854DB00E3FAB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46614271DF86D4D00E3FAB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D466143C1DF9A6C500E3FAB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46614481DF9B70F00E3FAB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D466146D1DFB2A5F00E3FAB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46614C11DFCF46400E3FAB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46A84C51FDCC27D00D93365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46F228C1D1218D2007F8F72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D470B3191E0FE51F00AEF135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D47923051DFF0A7C0077B91A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4848DB71FFABF2000330379</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4883E101F9EB0BD00009D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D491232A1E0C28CF006C3A8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4946DD11FDD064100F7ADA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4A03E991FE4A7380069CBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4A6E9D91E0477710096441E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4A7D3511E1459C200748973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4ADCE0F1FF9E22C00A63CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4AF58DB1DE6F6AD001AC0A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4B767162001CC40001BACC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4BA425B1FFFF474001D2EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4BE4F6A1FF36F2300A0281C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4E104BF1E18A3E200BB6066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4EA1EF41D1217E600D1EABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
